
/**
 * @file
 * Administration styles for the Relify module.
 *
 * Optimized for the Seven administration theme.
 */

.relify-data-sets tr td,
.relify-recommenders tr td {
  vertical-align: top;
}

.links.operations {
  text-transform: lowercase;
}
